
.cent{
  max-width:80vw;
  margin-left: auto;
  margin-right: auto;
}
[class*="col-"]{
  border:1px solid blue
}

.logo > h3 {


}
.sidebar  a{
  text-decoration: none;
  color: black;
  line-height:60px;
  vertical-align:middle;
  padding-right:20px;
}

.sidebar > ul > li{
  list-style: none;
  display: inline;


}

.hero-bg{
  height: 80vh;
}

.hero > h1{
  vertical-align: middle;
  line-height:70vh;
}

.font-cent{
  text-align: center;
}


/* ALTEZZE */

.h-80{
  height:60px;
}

.square{
  height:300px;
  width:300px;
  background-color:red;
}

.marg{
  margin-left:100px
}

.foot-h{
  height:300px;
  width:33,5%;
}

.foot-b{
  height:100px;
  width:100%;

}

/* MEDIA QUERY */


@media screen and (min-width:1200px){
  .display_no_lg{
    display: none;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .display_no_md{
    display: none;
  }
}





@media screen and (min-width:768px) and (max-width:991px) {
  .display_no_sm{
    display: none;
  }
}




@media screen and (max-width:767px){
  .display_no_xs{
    display: none;
  }
}
